SenML support

I'd like to propose adding SenML ([RFC 8428](https://datatracker.ietf.org/doc/rfc8428/)) support through a simple helper library or example. The Zephyr LwM2M implementation does that with a simple [header file](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/lwm2m/lwm2m_senml_cbor_types.h) for the LwM2M variant. Ideally, support would include

* RFC 8428 & [RFC 8798](https://datatracker.ietf.org/doc/rfc8798/). [RFC 9100](https://datatracker.ietf.org/doc/rfc9100/) & [RFC 9193](https://datatracker.ietf.org/doc/rfc9193/) are nice to haves.
* Support for "generic" SenML (ex. `application/senml+cbor`)
* Doesn't require the use of CDDL

Thoughts?

It's a good idea, but out of scope for this repo.